<div class="photo">
<img src="{{homePho.homyUrl}}" class="img-fluid" id="pho" alt="...">
<div class="text">
<h1>{{homePho.h1}}</h1>
<h3>{{homePho.h3}}</h3>
<h6><img id="right" src="{{homePho.rightImg}}" alt=""> {{homePho.rightText1}}</h6>
<h6><img id="right" src="{{homePho.rightImg}}" alt=""> {{homePho.rightText2}}</h6>
<h6><img id="right" src="{{homePho.rightImg}}" alt=""> {{homePho.rightText3}}</h6>
</div>
</div>
    {{!-- <pre>
        while(noSuccess){
            tryAgain();
            if(Dead){
                break;
            }
        }
                
    </pre> --}}

</div>
</div>
